*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    width: 1200px;
    margin: 1.25rem auto;
    background-color: yellow;

}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > h2{
    padding-bottom: 1.25rem;
    font-size: 2.5rem;
}

.container> div {
    font-size: 3.75rem;
    font-weight: bold;
    color: blue;
}

.hidden_number{
    opacity: 0;
}